* {
    background-color: lightslategray;
}

h1 {
    font-family: "Audiowide", sans-serif;
    /* display: flex;
    justify-content: center; */
    font-size: 45px;
    color: darkkhaki;
    text-shadow: black;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    color: brown;
    width: 75%;
    margin: auto;
    text-align: center;
}

nav {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-buttons {
    display: flex;
}

.main-form {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 25px;
}

.main-form form{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 25px;
}

.main-form form > * {
    background-color: lightblue;
}

.button-1 {
    font-size: 25px;
    background-color: darkolivegreen;
    border-radius: 5px;
    margin: 5px;
    border-width: 1px;
    border-color: black;
}

.error-message {
    color: red;
}

.bands-container {
    width: 75%;

    display: flex;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
    justify-content: center;
    margin: auto;
}

.band-button {
    width: 200px;
    height: 75px;
    margin: 10px;
    background-color: gold;
    border-radius: 10px;
    font-size: 16px;
    /* inline-size: 100px;
    overflow-wrap: break-word; */
}

.band-button:hover{
    background-color: orange;
}
