* {
    background-color: lightslategray;
}

h1 {
    font-family: "Audiowide", sans-serif;
    /* display: flex;
    justify-content: center; */
    font-size: 45px;
    color: darkkhaki;
    text-shadow: black;
}

nav {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-buttons {
    display: flex;
}

.main-form {
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border-radius: 25px;
}

.main-form form{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-size: 25px;
}

.main-form form > * {
    background-color: lightblue;
}

.button-1 {
    font-size: 25px;
    background-color: darkolivegreen;
    border-radius: 5px;
    margin: 5px;
    border-width: 1px;
    border-color: black;
}
